@font-face {
  font-family: DINAlternateBold;
  src: url("./Fonts/DINAlternateBold.otf");
}

@font-face {
  font-family: DINAlternateRegular;
  src: url("./Fonts/DINAlternateRegular.otf");
}

.App {
  text-align: center;
  text-decoration: none;
  font-family: DINAlternateRegular, sans-serif;
}

header {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  background-color: #516664;
  font-family: DINAlternateBold, sans-serif;
}

nav {
  display: flex;
  flex-direction: row;
  font-size: 1.2rem;
}

a {
  color: #073d3c;
  text-decoration: none;
}
a:hover {
  color: #b3e1e5;
  font-weight: bold;
}

h1 {
  color: #383838;
}

h2 {
  color: #383838;
}

p {
  color: #383838;
}

footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}

.logo {
  height: 11rem;
  padding: 1rem 0 0 1rem;
}

.mobileLogo {
  height: 6rem;
  padding: 1rem 0 0 1rem;
}

#tagline {
  font-size: 3rem;
  color: #84afae;
}

#taglineTablet {
  font-size: 2rem;
  color: #84afae;
}

#navBar {
  display: flex;
  flex-direction: column;
}

#navBarMobile {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  font-size: 1rem;
  justify-content: center;
  align-content: center;
}

#navItem {
  padding: 0 1rem;
  color: #bce0e5;
}
#navItem:hover {
  color: #9cbabc;
}

.socialPhoto {
  width: 70px;
  padding: 0.5rem 3rem 0.5rem 1rem;
}

.socialPhotoMobile {
  width: 50px;
  padding: 0.5rem 3rem 0.5rem 1rem;
}

#social {
  display: flex;
  flex-direction: row;
}

#copy {
  font-size: 1rem;
  padding: 0.5rem 1rem 0.5rem 1rem;
}

#denver {
  width: 100%;
}

#squareSection {
  display: flex;
  flex-direction: row;
  padding: 0.5rem;
  margin: 1rem;
  justify-content: center;
  align-items: center;
}

#outterSquare {
  padding: 1rem;
  width: 33%;
  background-color: #b3e1e5;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#innerSquare {
  padding: 1rem;
  width: 33%;
  background-color: #ccf1f2;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#mobileSquares {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#mobileTop {
  padding: 1rem;
  background-color: #b3e1e5;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 1rem;
  margin-bottom: 1rem;
  margin-left: 2rem;
  margin-right: 2rem;
}

#mobileMiddle {
  padding: 1rem;
  background-color: #ccf1f2;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 1rem;
}

#navagateButton {
  display: flex;
  background-color: #84afae;
  width: 10rem;
  height: 3rem;
  justify-content: center;
  align-items: center;
  text-align: center;
}

#internButtons {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

#internButton {
  display: flex;
  background-color: #84afae;
  width: 10rem;
  height: 3rem;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 0.5rem;
  width: 40%;
}

#webProjects {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0;
}

#projectTile {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
}

#projectTitle {
  font-size: 1.5rem;
  color: #516664;
  text-align: center;
}

#projectIcon {
  width: 86%;
  padding: 1rem;
  display: flex;
  align-content: center;
  justify-content: center;
}

#projectIconMobile {
  display: flex;
  align-content: center;
  justify-content: center;
  width: 87%;
}

#projectIconTablet {
  display: flex;
  align-content: center;
  justify-content: center;
  width: 87%;
}

#expandInfo1 {
  display: flex;
  flex-direction: row;
  width: 95%;
  padding: 1rem;
  justify-content: flex-start;
  align-items: flex-start;
  background-color: #a2cccb;
  margin: 1rem;
}

#expandInfo2 {
  display: flex;
  flex-direction: row;
  width: 95%;
  padding: 1rem;
  justify-content: flex-start;
  align-items: flex-start;
  background-color: #bce0e4;
  margin: 1rem;
}

#partners {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#expandInfo1Mobile {
  display: flex;
  flex-direction: column;
  width: 87%;
  padding: 1rem;
  justify-content: center;
  align-items: center;
  background-color: #a2cccb;
  margin: 1rem;
}

#expandInfo2Mobile {
  display: flex;
  flex-direction: column;
  width: 87%;
  padding: 1rem;
  justify-content: center;
  align-items: center;
  background-color: #bce0e4;
  margin: 1rem;
}

#sectionHeader {
  font-size: 3rem;
  padding: 0 1rem;
}

#partnerInfo {
  padding: 0 1rem;
}

#pledgePhoto {
  padding-left: 4.5rem;
  padding-right: 3rem;
}

#teamProfs {
  display: flex;
  flex-direction: row;
  width: 100%;
}

#teamProfsMobile {
  display: flex;
  flex-direction: column;
  width: 100%;
}

#memberPhoto {
  width: 100%;
}

#outsideLine {
  width: 30%;
  height: 0.3rem;
  color: #7f9a98;
  background-color: #7f9a98;
  border-radius: 0.5rem;
}

#insideLine {
  width: 40%;
  height: 0.3rem;
  color: #657a7a;
  background-color: #657a7a;
  border-radius: 0.5rem;
}

#consultant {
  padding: 1rem;
  width: 90%;
}

#contactPhoto {
  width: 15%;
  padding: 0.5rem;
}

#clientInfo {
  width: 100%;
  display: flex;
  flex-flow: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: center;
}


#clientInfoMobile {
  width: 90%;
  display: flex;
  flex-flow: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}

#clientLogo {
  padding: 0.5rem;
}

#clientLogoTablet {
  padding: 0.5rem;
  width: 90%;
}

#clientLogoMobile {
  padding: 0.5rem;
  width: 90%;
}
