.App {
  text-align: center;
  text-decoration: none;
}

header {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  background-color: #516664;
}

nav {
  display: flex;
  flex-direction: row;
}

a {
  color: #073d3c;
  text-decoration: none;
}
a:hover {
  color: #b3e1e5;
  font-weight: bold;
}

h1 {
  color: #383838;
}

h2 {
  color: #383838;
}

p {
  color: #383838;
}

footer {
  display:flex;
  justify-content: space-between;
  align-items: baseline;
  flex-direction: row;
}

.logo {
  height: 11rem;
  padding: 1rem 0 0 1rem;
}

#tagline {
  font-size: 3rem;
  padding: 0rem 3rem 0rem 0rem;
  color: #84afae;
}

#navBar {
  display: flex;
  flex-direction: column;
}

#navItem {
  padding: 0 1rem 0 0;
  color: #97ccca;
}


.socialPhoto {
  width:70px;
  padding: 0.5rem 3rem 0.5rem 1rem;
}

#copy {
  font-size: 1rem;
  padding:0.5rem 1rem 0.5rem 1rem
}

#denver {
  width: 100%;
}

#navagationButtons {
  display: flex;
  flex-direction: row;
  padding: 0.5rem;
  margin: 1rem;
  justify-content: center;
  align-items: center;
}

#welcome {
  padding: 1rem;
  width: 33%;
  background-color: #b3e1e5;
}

#internButton {
  padding: 1rem;
  width: 33%;
  background-color: #ccf1f2;
}

#consultingButton {
  padding: 1rem;
  width: 33%;
  background-color: #b3e1e5;
}

#navagateButton {
  display: flex;
  background-color: #84afae;
  width: 10rem;
  height: 3rem;
  justify-content: center;
  align-items: center;
  text-align: center;
}

#webProjects {
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding:1rem 0;
}

#projectTile {
  display: flex;
  flex-direction: column;
}

#projectTitle {
  font-size: 1.5rem;
  color:#516664
}

#projectIcon {
  width: 86%;
  padding: 1rem;
}

#expandInfo {
  display:flex;
  flex-direction: row;
  width:95%;
  padding:1rem;
  justify-content: flex-start;
  align-items: flex-start;
}

#sectionHeader {
  font-size: 3rem;
  padding:0 1rem;
}

#partnerInfo {
  padding: 0 1rem;
}

#pledgePhoto {
  padding-left: 4.5rem;
  padding-right: 3rem;
}

#teamProfs {
  display:flex;
  flex-direction: row;
  width:100%
}

#memberPhoto {
  width:100%
}
